.proposal-card {
  float: left;
  min-width: 295px;
  width: 20%;
  margin: 20px 40px 0 0;

  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);

  h2 {
    background-color: $lightestGrey;
    border-bottom: $lightGrey 1px solid;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.2;
    height: 3.6em;
  }

  button {
    margin: 0 5px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: $lightGrey 1px solid;
      padding: 10px;
      span {
        float: right !important;
      }
    }
  }

  .actions {
    background-color: $lightestGrey;
    text-align: center;
    padding: 10px;
  }
}