@import "colors";
@import "header";
@import "content";
@import "table";
@import "statusBar";

@import "community-fund/proposal-card";

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3E3F3A;
  text-align: left;
  background-color: $white;

}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

p, li {
  font-family: 'Roboto', sans-serif;
}

.float-left {
  float: left !important;
}


.float-right {
  float: right !important;
}

.break-word {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: none;
  hyphens: none;
}

a {
  color: $purple;
  text-decoration: none;
}