.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.mdc-drawer {
  width: 173px;
  border-right: $lightGrey 1px solid;

  .mdc-drawer__header {

    h2 {
      padding: 0 12px;
    }
  }
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

.mdc-list {
  margin: 30px 10px;
}

.mdc-top-app-bar{
  @include horizontal-gradient($purple, $darkPurple);
  color: $white;
  width: calc(100% - 173px);
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
}